#background
{	background-image: url('../images/space.jpeg');
	background-attachment:fixed;
	background-color: rgba(0,0,0,0.5);
	background-position: cover;
}
#income
{
	background-position: center;
}
#pic:hover
{
	background-color: rgba(0,0,0,0.5);
}
.row
{
	width: 100%;
}
#nav:hover
{
background-color: rgba(0,0,0,0.4);
}
#navbarDropdown:hover
{
	background-color: rgba(0,0,0,0.4);

}
#navbarDropdown:focus
{
	background-color: rgba(0,0,0,0.4);

}
#nav:focus
{
background-color: rgba(0,0,0,0.4);
}
.active
{
background-color: rgba(0,0,0,0.4);
}